<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camino Universitario Distrital Adelita De Char</title>
    <link rel="stylesheet" href="../static/css/estilos_V10-12.css">
    <script src="{{ url_for('static',filename='js/Validaciones.js')}}"></script>
</head>
<body>
    
    <div id="contenedor">
        <div id="header">
            <nav class="navegacion">
                <ul class="menu">
                    <li><a href="/7interfazMedicos">Plataforma Medicos</a></li>
                    <li><a href="">Pacientes</a>
                    
                    </li>
                    <li><a href="/9consultaCitas">Citas</a>
                    </li>
                    <li><a href="/10consultaComentarios">Comentarios</a></li>
                </ul>
            </nav>    
        </div>
                
        
        <div class="contenido">
            
           
            <div id="Cost_izq">
                <h3 class="Titulo_AC">Camino Universitario Distrital Adelita de Char</h3>

                <label for="Medico" class="Medico">Medico</label>
                <label for="Name_medico" class="Medico"></label>
            </div>
            <div id="Section_cent" name="formulario_cons_pac" action="formulario_cons_pac" method="POST">
                
                <form id="formulario_cons_pac" name="formulario_cons_pac" action="/8consultaPacientes" method="POST">
                    {{form.hidden_tag()}}
                    <h2 class="form_titulo">Consulta un paciente</h2>
                    <br>
                    <div class="contenedor-inputs">
                        <div>
                            {{form.tipo_doc_pac.label}}
                            {{form.tipo_doc_pac()}}
                        </div>
                        <div>
                            {{form.num_doc_pac.label}}
                            {{form.num_doc_pac()}}
                        </div>
                        <div>
                            {{form.botonBuscar()}}

                        </div>

                    </div>         
                </form>
            </div>
            <div id="Cost_Der">
                <h2 class="Titulo_CD"> Listado de pacientes  </h2>
                <table class="Tablas">
                    <caption>Tabla de consulta de pacientes</caption>
                    <tr>
                        <th>Número</th>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>EPS</th>
            
                    </tr>
                    {% if row %}
                    <tr>
                        <td>{{row['id_Paciente']}}</td>
                        <td>{{row['Num_Documento_P']}}</td>
                        <td>{{row['Nombre_P']}}</td>
                        <td>{{row['EPS_Paciente_P']}}</td>
                    </tr>
                    {% endif %}
                    
                </table>

            </div>
            
        </div>
            

        <div id="footer">
            <br>
            <p class="Pie_de_pagina"> Clinica Camino Universitario Distrital Adelita de Char </p>
            <p class="Pie_de_pagina"> Correo electronico atencionusuario@adelita.com.co </p>
            <p class="Pie_de_pagina"> Telefono: 038 287456 - Dirección: Av siempre viva 123 Baranquilla </p>
        </div>
    </div>


</body>
</html>